@{
    ViewData["Title"] = "Home Page";
}

@using (Html.BeginForm("GetPath", "Home", FormMethod.Post))
{
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.0.min.js" type="text/javascript"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/jquery-ui.min.js" type="text/javascript"></script>
    <link href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/themes/blitzer/jquery-ui.css"
          rel="Stylesheet" type="text/css" />
    <script type="text/javascript">
        $(function () {
            $("#sourceTxt").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '/Home/SourceAutoComplete/',
                        data: { "prefix": request.term },
                        type: "POST",
                        success: function (data) {
                            response($.map(data, function (item) {
                                return item;
                            }))
                        },
                        error: function (response) {
                            alert(response.responseText);
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        }
                    });
                },
                minLength: 0
            }).focus(function() {
                $(this).autocomplete('search', '');
            });

            $("#destTxt").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '/Home/DestinationAutoComplete/',
                        data: { "prefix": request.term },
                        type: "POST",
                        success: function (data) {
                            response($.map(data, function (item) {
                                return item;
                            }))
                        },
                        error: function (response) {
                            alert(response.responseText);
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        }
                    });
                },
                minLength: 0
            }).focus(function () {
                $(this).autocomplete('search', '');
            });
        });
    </script>


    <span>Select Source point: <input type="text" id="sourceTxt" name="nodeA"/></span>
    <br />
    <span>Select Destination point: <input type="text" id="destTxt" name="nodeB"/></span>
    <br />
    <span>
        Use wyverns? @Html.CheckBox("useWyv", false)
    </span>
    <br />
    <span>
        Use ships? @Html.CheckBox("useShips", false)
    </span>
    <br />
    <span>Use Soe? @Html.CheckBox("useSoe", false)</span>
    <p>
        <input type="submit" value="Calculate" />
    </p>
}
