@using Core
@using Model

@{
    ViewData["Title"] = "Result";
}

<h1>Result</h1>
<hr />
<div>
    Default result (Use wyvernas, use soe, don't use ships')
    @foreach (var el in ViewBag.DefaultResult)
    {
        <span style="display: block;">@($"{el.Source} -> {el.Destination} for {el.Price}$. " + el.Type)</span>
    }
    <span>Total price: @(ViewBag.DefaultPrice)</span>

    <div style="min-height: 5px"></div>
    <hr />
    <div style="min-height: 5px"></div>

    @if (((List<PathModel>)ViewBag.Result).Count > 0)
    {
        <span>Custom result:</span>
        @foreach (var el in ViewBag.Result)
        {
            <span style="display: block;">@($"{el.Source} -> {el.Destination} for {el.Price}$. " + el.Type)</span>
        }
        <span>Total price: @(ViewBag.Price)</span>
    }

</div>


